# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.coverprofile
junit.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out

# OS
.DS_Store
*/.DS_Store

# IDEA
.idea
.vscode
*.iml
